.sortBlock {
    height: 25px;
    color: #FFFFFF;
    font-size: 19px;
    padding: 0;
    margin: 0
}
.title {
    height: 25px;
    color: #FFFFFF;
    font-size: 19px;
    padding: 0;
    margin: 0 15px;
    text-transform: uppercase
}
